page-registration {
	ion-content{
		.scroll-content{

			section.form{
				position:relative;
				padding:0;
				margin:0;
				height:100%;
				width:100%;
				background-image:url('../assets/imgs/bg-registration.jpg');
				background-size:cover;
				background-repeat:no-repeat;
				background-position:center top;

				color:#fff;
				font-family:'gotham';

				p{
					margin:0;


					&.title-top{
						padding:9.5vh 0 1.5vh;
						text-transform:uppercase;
						text-align:center;
						font-size:1.8vh;
					}

					&.note-bottom{
						padding:4vh 5vw 5vh;
						font-size:1.85vh;
						text-align:center;

						a{
							color:#fff;
						}
					}
				}

				ion-row{
					width:100%;
					position:relative;
					margin-top:1.5vh;
					padding:0 7.5vw;

					ion-col{
						text-transform:uppercase;

						a{
							color:#fff;
							&.label{
								display:block;
								clear:both;
								margin-bottom:1vh;
							}

						}

						span.select-container{
							position:relative;
							display:block;

							&>ion-icon{
							    position: absolute;
							    top: 25%;
							    right: 2vw;
							    margin: auto;
							    display: inline-block;
							    z-index: 0;
							}
						}

						select, input[type=text], input[type=email]{
							background:transparent;
							border:1px solid #fff;
							border-radius:0;
							display:inline-block;
							height:5vh;
							min-width:100%;
							position:relative;
							z-index:2;
							padding-left:3vw;
						}

						p{
							width:100%;
							text-align:center;
						}

					}
				}



				ion-row.footer{
					position:relative;
					clear:both;
					width:100%;
					margin:auto;
					p{
						position:relative;
						display:block;
						clear:both;
						width:100%;
						margin:auto;
						text-align:center;
						text-transform:uppercase;
						color:#fff;
						font-family:'gotham';

						&.text{
							font-weight:bold;
							a{
								color: #fff;
							}
						}

						&.caret{
							margin-top:1.5vh;
							font-weight:bolder;
						}

					}
				}


			}//end of section.form

		}//end of scroll-content

	}//end of ion-content
}
