<ion-content>
	<img id="logo" src="../assets/imgs/Logo.svg"/>
	<section class="main">
	 <!-- [ngStyle]="{'background-image':'url('+ss?.imgs[bgInd]+')'}" -->

		<img class="init bg" src="{{init_bg}}" [ngClass]="{'blocked':resetFlag}"/>
		<img class="bg" [src]="bg" [ngClass]="{'blocked':startSlides}"/>
		<ion-slides autoplay="3000" loop="true" speed="2000" effect="fade" initialSlide="0" *ngIf="startSlides && purchased">
			<!--  (ionSlideWillChange)="check($event)" -->
			<ion-slide *ngFor="let img of ss?.imgs; let i = index;">
				<img [src]="img">
		    </ion-slide>
		</ion-slides>
		<div class="part1" *ngIf="lang?.length <= 0 && purchased && !postpurchase">
			<p class="text-top" *ngIf="resetFlag">
				Congratulations on your <br/>
				polo ralph lauren purchase.
			</p>

			<h2 (tap)="launchSlides()">Welcome<br/>
				<a class="small">歡迎</a>
			</h2>
			<ion-row *ngIf="resetFlag">
				<ion-col col-6 (tap)="proceedFlow('eng')">
					<p class="text">
						ENGLISH
					</p>
					<p class="caret">
						<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</p>
				</ion-col>
				<ion-col col-6 (tap)="proceedFlow('pinyin')">
					<p class="text">
						中文
					</p>
					<p class="caret">
						<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</p>
				</ion-col>
			</ion-row>
		</div>
		<!-- end of part 1 -->

		<div class="part2" *ngIf="lang?.length > 0 && purchased && !postpurchase">
			<span class="texter">
				<p class="sm-txt">
					Choose an occasion to win a
				</p>
				<p class="lrg-txt">
					Polo Ralph Lauren<br/>
					Wardrobe
				</p>
				<p class="sm-txt">
					tailored for you specifically<br/>
					for that event.
				</p>
			</span>
			<ion-row>
				<ion-col col-12 (tap)="toPassage()">
					<p class="text">
						PROCEED
					</p>
					<p class="caret">
						<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</p>
				</ion-col>
			</ion-row>
		</div>
		<!-- end of part 2 -->

		 <div class="part2 unpurchased" *ngIf = "!purchased && !postpurchase">
			
			<span class="texter">
				<p class="sm-txt">
					Unlock an
				</p>
				<p class="lrg-txt">
					Exclusive<br/>
					Experience
				</p>
				<p class="sm-txt">
					when you purchase this<br/>
					classic fit polo shirt.
				</p>
			</span>
			<span class="bot">
				<ion-row>
					<ion-col col-12>
						<a href="mailto:demo@engmntprty.com?subject=Your+Scan&body=product_id%3A{{thngId}}">
							<p class="text">
								I ALREADY PURCHASED THIS ITEM
							</p>
							<p class="caret">
								<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
							</p>
						</a>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<p class="text">
							PROCEED TO OUR WEBSITE
						</p>
						<p class="caret">
							<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
						</p>
					</ion-col>
				</ion-row>
			</span>
		 </div>
		<!-- end of unpurchased -->


		 <div class="part2 postpurchase" *ngIf = "postpurchase">
			
			<span class="texter">
				<p class="lrg-txt">
					Congratulations
				</p>
				<p class="sm-txt">
					on your ralph lauren purchase
				</p>
			</span>
			<ion-row>
				<ion-col col-12>
					<p class="text">
						PROCEED TO OUR WEBSITE
					</p>
					<p class="caret">
						<ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
					</p>
				</ion-col>
			</ion-row>
		 </div>
		<!-- end of postpurchase -->

	</section>
</ion-content>
