page-thank-you2 {
	ion-content{
		.scroll-content{

			background-color:#000;

			p.content{
				font-family:'didot';
				color:#fff;
				margin:0;
				text-align:center;
				display:block;
				font-size:2.75vh;
				padding:35vh 5vw 0;
			}
		}

	}
}
