page-thank-you2 {

	&>ion-content{
		&>.scroll-content{

			background-image:url('../assets/imgs/bg-ender.jpg');
			background-size:cover;
			background-position:center;

			p.content{
				font-family:'didot';
				color:#fff;
				margin:0;
				text-align:center;
				display:block;
				font-size:2.95vh;
				padding:30vh 7.5vw 0;

				a.cap{
					color:inherit;
					text-decoration:none;
					text-transform:capitalize;
				}
			}
		}

	}
}
